{% extends 'layouts/base.html.twig' %}

{% block body %}
    <div style="background: #ddd;">

        <div class="container">
            <div class="row">
                <div class="twelve columns" style="height: 506px; margin-top: 40px;">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d227807.68734095205!2d80.84694170314712!3d26.856006348923735!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39995e7f88b84c8b%3A0x339e6abc4ca2e971!2sGauriya%2C+Uttar+Pradesh+225301!5e0!3m2!1sen!2sin!4v1491218008403"
                        width="100%"
                        height="500"
                        frameborder="0"
                        style="border:0; margin: 0"
                        allowfullscreen
                    ></iframe>
                </div>
            </div>
        </div>

        <div class="container" style="padding-top: 40px; padding-bottom:40px; text-align: center;">
            <div class="row">
                <div class="four columns">
                    <h2 id="vision" class="color-purple">School Address</h2>
                    <p>
                        123 Faizabad Road<br>
                        Matiyari, Lucknow<br>
                        Uttar Pradesh, India 227106
                    </p>
                </div>
                <div class="four columns">
                    <h2 class="color-purple">Office Address</h2>
                    <p>
                        456 Dirt Road<br>
                        Mavaiya, Barabanki<br>
                        Uttar Pradesh, India 554246
                    </p>
                </div>
                <div class="four columns">
                    <h2 class="color-purple">Phone Number</h2>
                    <p>
                        Rolly Singh: +91 485 282 3238<br>
                        Deepak Kumar: +91 622 454 3467<br>
                        Akhilesh Yadav: +91 221 153 2422<br>
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
