<div style="background: #555; color: #eee">
    <div class="container">
        <div class="row">
            <div class="twelve columns" style="padding-top: 20px; padding-bottom: 80px;">
                <a href="/admin" style="float: right; color: #eee;">Admin Panel</a>
                © 2017 Upkar Project - All rights reserved
            </div>
        </div>
    </div>
</div>
