<div class="navbar">
    <div class="container">
        <div class="row">
            <div class="twelve columns">

                <ul class="nav brand">
                    <li><a href="/">Upkar Project</a></li>
                </ul>

                <ul class="nav hamburger">
                    <li><a class="u-pointer"><i class="fa fa-fw fa-bars"></i></a></li>
                </ul>

                <ul class="nav nav-right">
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="https://goo.gl/6wQuG5" target="_blank">Donate</a></li>
                </ul>

            </div>
        </div>
    </div>
</div>
